* {
    padding: 0;
    margin: 0;
    border: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


body {
    font-family: sans-serif;
    height: 2000px;
    font-family: 'Oswald', sans-serif;
}
nav {
    background-color: #CED6DC;
}
.discount {
    text-align: center;
    width:100%;
    text-transform: uppercase;
    padding: 14px 0 14px 0;
    background-color: #EEFF00;
    font-weight: bold;
    font-size: 14px;
}

.nav-buttons {
    width:365px;
    margin-top: 17px;
    margin-left: 63px;
    float:left;
}

.nav-buttons button {
    text-transform: uppercase;
    width: 180px;
    height: 46px;
    letter-spacing: 5px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #292F33;
    display:inline;
}
#arrow_small {
    fill:"#000";
}
.nav-buttons button:first-child {
    border-radius: 5px 0 0 5px;
}
.nav-buttons button:last-child {
    border-radius: 0 5px 5px 0;
}
.nav-buttons button:hover {
    background-color: #292F33;
    color:white;
    transition: .225s;
}
.nav-buttons button:focus {
    outline: none;
}
.nav-buttons button:hover  #arrow_small {
    fill:#fff;
}
.main-but {
    width:100vw;
    display: inline-block;
    padding-top: 17px;
}

.logo {
    float:left;
    margin-left:205px;
}

.bcl {
    float:right;
    margin-right:50px;
}

.bcl li {
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    padding-left:20px;   
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
}
.bcl li a {
    text-decoration: none;
    color:#292F33;
}

.bcl li a:hover {
    transition: 1.225;
    color:grey;
}
.bcl span {
    border-right: 1px solid black;
    padding-right:20px;
}
.avatar img{
    border:1px solid black;
    border-radius: 50%;
}
.avatar {
    position:relative;
    top:10px;
}
input[type="submit"] {
    background:url(src/search.svg);
    background-size: cover;
    width:20px;
    height: 20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:20px;
    float: right;
}

input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */ /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    margin-left:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40px;
    float: left;
    letter-spacing: 2px;
    width:35vw;
    font-size: 12px;

}
.search {
    background: #fff;
    border-radius: 20px;
    display: block;
    float:left;
    margin-left:435px;
    border:2px solid #292F33;
}
input:focus {
    outline:none;
}
.b-but-buttons {
    float:right;
    list-style: none;
    height: 40px;
    float:left;
    margin-left:181px;

}
.b-but {
    padding-top:15px;
    background-color: #CED6DC;
    height: 55px;
    
}
.b-but-buttons li {
/*     padding-top: 12%; */
    float:left;
    font-size:16px;
    font-weight: 600;
    line-height: 3.1;
}
.b-but-buttons li a {
    text-decoration: none;
    color:#292F33;
}

.b-but-buttons li a span{
    border-left: 1px solid #292F33;
    padding-left:28px;
}
.heart {
    padding-right:28px;
}