* {
    padding: 0;
    margin: 0;
    border: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


body {
    font-family: sans-serif;
    font-family: 'Oswald', sans-serif;
}
nav {
    background-color: #CED6DC;
}
.discount {
    text-align: center;
    width:100%;
    text-transform: uppercase;
    padding: 14px 0 14px 0;
    background-color: #EEFF00;
    font-weight: bold;
    font-size: 14px;
}

.nav-buttons {
    width:365px;
    margin-top: 17px;
    margin-left: 63px;
    float:left;
}

.nav-buttons button {
    text-transform: uppercase;
    width: 180px;
    height: 46px;
    letter-spacing: 5px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #292F33;
    display:inline;
}
#arrow_small {
    fill:"#000";
}
.nav-buttons button:first-child {
    border-radius: 5px 0 0 5px;
}
.nav-buttons button:last-child {
    border-radius: 0 5px 5px 0;
}
.nav-buttons button:hover {
    background-color: #292F33;
    color:white;
    transition: .225s;
}
.nav-buttons button:focus {
    outline: none;
}
.nav-buttons button:hover  #arrow_small {
    fill:#fff;
}
.main-but {
    width:100vw;
    display: inline-block;
    padding-top: 17px;
}

.logo {
    float:left;
    margin-left:205px;
}

.bcl {
    float:right;
    margin-right:50px;
}

.bcl li {
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    padding-left:20px;   
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
}
.bcl li a {
    text-decoration: none;
    color:#292F33;
}

.bcl li a:hover {
    transition: 1.225;
    color:grey;
}
.bcl span {
    border-right: 1px solid black;
    padding-right:20px;
}
.avatar img{
    border:1px solid black;
    border-radius: 50%;
}
.avatar {
    position:relative;
    top:10px;
}
input[type="submit"] {
    background:url(src/search.svg);
    background-size: cover;
    width:20px;
    height: 20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:20px;
    float: right;
}

input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */ /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    margin-left:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 40px;
    float: left;
    letter-spacing: 2px;
    width:35vw;
    font-size: 12px;
    background-color: #E6EBEF;

}
.search {
    background: #E6EBEF;
    border-radius: 20px;
    display: block;
    float:left;
    margin-left:435px;
    border:2px solid #292F33;
}
input:focus {
    outline:none;
}
.b-but-buttons {
    float:right;
    list-style: none;
    height: 40px;
    float:left;
    margin-left:181px;

}
.b-but {
    padding-top:15px;
    background-color: #CED6DC;
    height: 55px;
    
}
.b-but-buttons li {
/*     padding-top: 12%; */
    float:left;
    font-size:16px;
    font-weight: 600;
    line-height: 3.1;
}
.b-but-buttons li a {
    text-decoration: none;
    color:#292F33;
}

.b-but-buttons li a span{
    border-left: 1px solid #292F33;
    padding-left:28px;
}
.heart {
    padding-right:28px;
}
.first {
    background-color: #E6EBEF;
    height:800px;
}
.top-img {
    background-color: #CED6DC;
}

.first_text {
    margin-left:27%;
    width:700px;
    text-align: center;
    position:relative;
    top:-570px;
    letter-spacing: 2px;
}
.lc {
    font-size:12px;
    text-transform: uppercase;
    font-weight: bold;
}
.ultra {
    font-size: 42px;
    font-weight: bold;
}
.battery {
    font-size: 15px;
    font-family: Roboto;
    font-weight: regular;
}
.descr {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-transform: uppercase;

}
.descr_sec {
    border-left:1px solid black;
    border-right:1px solid black;
    
} 
.descr_thr {
    border-right:1px solid black;
    
} 
.piece {
    padding-left: 10px;
    padding-right: 10px;
}
.first_text button:focus {
 outline: none;
}
.first_text button:hover  #Эллипс_28 {
    fill:#ef0;
    transition: .8s;
}
.first_text button:focus {
    border:none!important;
}
.first_text button:hover  #Эллипс_27 {
    fill:#ef0;
    transition: .8s;
}
.sides {
    border-radius: 50%; 
    margin-top:60px; 
    border:1px solid black; 
    width:38px;
    height: 38px;
}

.car_buy {
    position:relative;
    left:-530px;
    top:-700px;
    z-index: 3;
    border-radius: 50%;
    opacity:70%;
    width:100px;
    height: 100px;
}
.car_buy:focus {
    outline:none;
    opacity:100%;
    transition: .4s;
}
.first_bot {
    position: relative;
    top:-550px;
}
.socials {
    padding-left:40px;
    padding-top:120px;
    float:left;
}
.first_bot_info {
    text-transform: uppercase;
    letter-spacing: 2px;
    float:left;
    padding-top: 140px;
    margin-left:320px;
    padding-right:210px;
}
.b2 {
    background-color: #E6EBEF;
    z-index: 2;
    background-image: url(src/b2_bg.svg);
}
.tbfto {
    width:90vw;
    margin-left: 5vw;
    background-size: cover;
    height: 600px;
    padding-top: 100px;
}
.tbfto h2 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}
.tbfto ul img {
    width:80%;
    margin-left: 10%;
}
.tbfto ul {
    position:relative;
    list-style-type: none;
    bottom:50%;
}
.tbfto ul li {
    float:left;
    width: 19vw;
    margin: 0;
    border: 1px solid black;
    margin-left:5px;
    margin-right:5px;
    
}
.tbfto ul li:first-child {
    margin-left:0px;
}
.tbfto ul li:last-child {
    margin-right:0px;
}

.tbfto h3 {
    text-align: center;
    font-size: 23px;

}
.tbfto h5 {
    font-size: 12px;
    border-bottom: 10px solid #EEFF00;
    width:30%;
    margin-left:36.5%;
    text-align: center;
}
.tbfto h4 {
    text-align: center;
    font-size: 12px;
}